*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 400px;
  min-height: 200px;
  border: 1px solid black;
  background-color: lightgray;
}
.card{
  max-width: 400px;
  min-height: 200px;
  background: #423a6f;
}
 .img{
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 35%;
}
input[type=text],
input[type=text]:focus{
  color: white;
  border: none;
  background: rgba(0, 0, 0, 0.2);
}
#submit{
  padding: 13px;
}
.list-class{
  background-color: #423a6f;
  margin-top: 5px;
  color: white;
}
.delete{
  cursor: pointer;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
